<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>AOC testing</title>
    <style>
      #file {
        color: transparent;
      }
      #drop-zone {
        height: 100px;
        width: 300px;
        background-color: #ecffdc;
      }
      .wheat {
        background-color: Wheat;
      }
      .display {
        overflow: scroll;
        height: 20rem;
        min-width: 300px;
      }
      input {
        field-sizing: content;
      }
    </style>
  </head>

  <body>
    <div class="my-3 container">
      <h1>AOC test</h1>
      <div id="app">
        <div>
          <input id="file" type="file" accept=".txt" @change="readFile" />
          <div class="rounded my-3 border border-dark p-2" id="drop-zone">
            <p>Or drag file in here.</p>
            <p class="mt-2" v-html="msg"></p>
          </div>
        </div>
        <div class="row gy-3 gx-4">
          <div class="col-md-6">
            <div class="rounded display p-2 wheat mt-2 border border-dark">
              <p class="mb-0" v-for="line in lines">{{line}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <button
              class="d-block btn btn-primary my-2"
              :disabled="!lines.length"
              type="button"
              @click="process"
            >
              Process
            </button>
            <label for="res">Result:</label>
            <input
              id="input"
              class="rounded d-block border border-dark p-2"
              disabled
              v-model="result"
              :class="{'bg-success text-white': indicate}"
            />

            <button
              title="copy value"
              type="button"
              class="mt-2"
              id="copy"
              @click="copyRes"
            >
              <i class="fa fa-copy"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data() {
          const access = 'QCpZfwnsgnQsyHHB3ID5isS43cZnthj6YoSPtemxFGtcH15I';
          return {
            indicate: false,
            lines: [],
            msg: '&nbsp;',
            result: undefined,
          };
        },
        methods: {
          process: function () {
            this.result = 'Testing';
          },
          copyRes: function () {
            navigator.clipboard.writeText(this.result);
            this.indicate = true;
            setTimeout(() => (this.indicate = false), 500);
          },
          readFile: function (e) {
            let file = e.target.files[0];
            this.read(file);
          },
          read: function (f) {
            this.msg = f.name;
            const reader = new FileReader();
            reader.onload = () => {
              this.lines = reader.result.split('\n').filter((e) => e.length);
            };
            reader.readAsText(f);
          },
          drop: function (evt) {
            evt.stopPropagation();
            evt.preventDefault();
            let f = evt.dataTransfer.files[0];
            if (f.name.slice(f.name.length - 5) !== '.txt') {
              return;
            }
            this.read(f);
          },
          dragOver: function (evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy';
          },
        },
        mounted() {
          let dropZone = document.getElementById('drop-zone');
          dropZone.addEventListener('dragover', this.dragOver, false);
          dropZone.addEventListener('drop', this.drop, false);
        },
      }).mount('#app');
    </script>
  </body>
</html>
